In [2]:
import pyarrow as pa 
import pandas as pd
import pyarrow.parquet as pq

In [5]:
dailyPrice = pd.read_csv('output.csv', index_col = 0)

In [6]:
dailyPrice.head()

,date,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,...,HFC,HOLX,HD,HON,HRL,HST,HPQ,HUM,HBAN,HII
0,2020-05-26,152.08,89.48,89.31,209.08,196.40,70.00,376.63,53.19,135.58,...,32.30,51.10,242.48,144.94,45.73,12.17,17.06,397.09,8.990,193.42
1,2020-05-22,146.44,91.47,90.71,206.16,193.71,73.08,385.26,55.17,133.48,...,30.46,52.33,241.88,139.18,46.93,11.23,17.00,394.43,8.095,182.77
2,2020-05-21,145.81,90.39,92.10,196.32,193.50,72.47,382.17,54.65,134.79,...,30.99,52.56,240.88,137.69,46.01,11.43,17.18,395.27,8.170,181.50
3,2020-05-20,149.68,90.09,93.02,196.36,195.18,73.78,383.63,56.39,135.72,...,31.75,53.98,238.19,136.03,47.99,11.54,17.30,391.19,8.210,175.11
4,2020-05-19,148.38,88.22,91.19,190.79,190.09,73.03,372.20,55.47,135.82,...,29.46,52.89,238.10,131.95,47.39,11.55,16.73,394.47,7.880,173.50

In [9]:
dailyPriceTable = pa.Table.from_pandas(dailyPrice)

In [13]:
pq.write_table(dailyPriceTable, 'dailyPrice.parquet')

In [14]:
table2 = pq.read_table('dailyPrice.parquet')

In [3]:
fundCodes = pd.read_csv('spxCodes.csv', index_col = 0)

In [4]:
fundCodesTable = pa.Table.from_pandas(fundCodes)

In [5]:
pq.write_table(fundCodesTable, 'fundCodes.parquet')