In [1]:
import pandas as pd
import json

In [2]:
fund_codes = ['MMM','ABT','ABBV']
startDate = '2020-01-31'
endDate = '2020-04-30'

In [3]:
   fund_codes.insert(0,'date')
   all_historical_prices = pd.read_csv('output.csv')

In [4]:
subset_data = all_historical_prices[fund_codes][all_historical_prices['date']>=startDate ][all_historical_prices['date']<=endDate].sort_values('date').reset_index(drop = True)

In [6]:
pd.DataFrame(json.loads(subset_data.to_json(orient = 'records')))

          date     MMM    ABT   ABBV
0   2020-01-31  158.66  87.14  82.30
1   2020-02-03  156.59  87.06  84.36
2   2020-02-04  157.24  88.23  86.63
3   2020-02-05  162.33  89.56  87.18
4   2020-02-06  162.89  89.47  92.29
..         ...     ...    ...    ...
58  2020-04-24  147.00  94.06  84.69
59  2020-04-27  153.65  94.95  82.76
60  2020-04-28  157.61  91.46  83.76
61  2020-04-29  156.26  92.28  82.20
62  2020-04-30  151.92  92.09  82.84

[63 rows x 4 columns]